body {
    margin-left: 10%;
}

a:link, a:visited {
    color: #36a866;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 0rem;
}

hr {
    margin-left: -20px;
    margin-top: 40px; 
    margin-bottom: 40px;
}

#page-title {
    margin-top: 60px;
}

#citations {
    margin-top: 20px;
}

#basic_info {
    max-width: 700px !important;
}

.copy-check-input {
    display: none;
}

.copy-dropdown-image {
    display: inline-block;
    height:20px;
    width:20px;
}

.copy-dropdown-label {
    height:auto;
}

#motivation {
    /*width: 800px;*/
    max-width: 700px !important;
}

label {
    display: block;
    height: 100px;
    width: 400px;
    padding: 10px;
}

.form-check-label {
    height: 0 !important;
    padding: 0 !important;
}

input {
    height: 2em;
}

.param {
    position: relative;
}

.param label {
    font-weight: 500;
}

.param-input {
    position: absolute;
    top: 40px;
    width: 50px;
    padding: 5px;
}

.param-slider {
    position: absolute;
    top: 30px;
    left: 100px;
    padding: 10px;
}


.axis text,
.slider text {
    font-size: 14px;
}

.tooltip-logo {
    margin-left: 4px;
    display: inline-block;
    color: #fff;
    background: rgb(170, 170, 170);
    border: solid 1px #fff;
    border-radius: 12px;
    height: 16px;
    width: 16px;
    text-align: center;
    font: 12px sans-serif;
}

/* begin styling for account divs (toggle panels) */
.accordion-item {
    border: 0px;
    background-color: transparent !important;
}

.container {
    display: inline;
}

.panel-header {
    background: #73bd84;
    height: 40px;
    width: 600px;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: -10px;
}

.header-title, .header-amount {
    margin-top: 5px;
    color: #212529;
}

.header-amount {
    text-align: right;
}

.lump-sums {
    text-align: right;
    font-size: 14px;
}

.param-input input {
    border-color: #aaa;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
}

.param-input input:focus {
    outline:none;
}

.header-title {
    float: left;
}

.header-amount {
    float: right;
    margin-right: 20px;
}

.toggle {
    float: right;
    width: 10px;
    height: 20px;
    padding-right: 0px;
}

.form-check {
    margin-left: 10px;
    display: inline-block;
}

.form-check-input:checked {
    background-color: #0c532a;
    border-color: #0c532a;
}

.form-check-input:focus {
    border-color: #59b880;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 113, 0.25);
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2359b880'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

.orange-header .form-check-input:checked {
    background-color: #f9911a;
    border-color: #f9911a;
}

.orange-header .form-check-input:focus {
    border-color: #f7af5e;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 209, 149, 0.866);
}

.orange-header .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23f7af5e'/%3e%3c/svg%3e")
}

.orange-header .form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

.panel {
    margin-left: 20px;
    max-width: 700px !important;
}


.account-copy {
    white-space: pre-line;
    width: 540px;
}

/* end styling for account divs (toggle panels) */

/* Sidebar styling */
#openbtn {
    margin-left:87%;
    position: fixed;
    margin-top: 20%;
    height: 10%;
    z-index: 11;
    filter: invert(100%);
}

.panel-side {
    margin-right: 2%;
    margin-left: 62%;
    position: fixed;
    margin-top: 0;
    height: 87%;
    justify-content: center;
    align-items: center;
    scroll-behavior: auto;
    background-color: white;
    z-index: 10;
    padding-left: 0.75%;
    border-left:2px solid darkgray;
    overflow-y: scroll;
    overflow-x:hidden;
}

.sidebar-money {
    font-weight: 1000;
    font-size: 2rem;
    color: #488a58;
    text-align: center;
}

.sidebar-text {
    text-align: center;
}

.bar-chart {
    margin-left: 10px;
    margin-bottom: 10px;
}

#breakdown {
    margin-top: 20px;
}

/* End sidebar styling */

/* Table Styling */
.orange-header {
    width: 122%;
    background-color: #fcbe78;
    opacity: 0.9;
}

.carousel-item {
    margin-right: 0;
}

.parameter-value {
    fill: #666666;
    font-weight: bold;
}

.suggested-value {
    /* color:#488a58; */
    /* stroke:#488a58; */
    fill:#488a58;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
}

table {
    margin-top: 10px;
}

table:hover {
    cursor:default;
}

.text-copy {
    white-space: pre-wrap;
    padding: 10px;
}

th, td {
    padding: 5px;
}

.wrapper-div {
    width: 620px;
    white-space: pre-line;
    background-color: #f3f3f3 !important;
    border-style: solid;
    border-color:#f3f3f3;
    border-radius: 8px;
    margin: 7px;
    padding: 7px;
}

/* End table styling */

/* Carousel Styling */
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
} */

.carousel-control-next {
    right: -80px;
}

.carousel-control-prev {
    left: -80px;
}

.carousel-indicators {
    position: relative;
}

#openbtn {
    filter: invert(non)
}

/* monte carlo styling */
#uncertainty-panel {
    margin: 10px;
}

.asset-mix {
    margin: 20px;
}

.asset-mix-button {
    width: 120px;
    box-shadow: none;
}